{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<section class='text-center container'>
    <h2><b>11th Standard</b></h2>
    <p>Find all your materials here</p>
    <br>
    <br>
    <p><a href="https://drive.google.com/file/d/1jy7mgt-DuDB-W4mnFUI4lntKP2BCUqm7/view">Physics part 1 notes</a></p>
    <p><a href="https://drive.google.com/file/d/1QurUrTS7VNC2UnZIkZTjlTOFq5Vrw7qV/view">Physics part 2 notes</a></p>
    <p><a href="https://drive.google.com/file/d/1zfi0cAw1wdFeQQHAOBUUfh1KUFAeD_sa/view">Chemistry part 1 notes</a></p>
    <p><a href="https://drive.google.com/file/d/1ocF45BccdJoJUzfhFo7g2OTRWHS_JZeJ/view">Chemistry part 2 notes</a></p>
    <p><a href="https://drive.google.com/file/d/1A1ualWA4anPRP1NWEfZt0qJ2QfyUuRlq/view">Mathematics notes</a></p>
    <p><a href="https://drive.google.com/file/d/1MJqXy_HYpDNkGYno7tg7qfQFfjvUasab/view">Biology notes</a></p>
    <p><a href="https://drive.google.com/file/d/1fRA1ctikP9Rjhwgmu2A3cUQSF8BljN18/view">Computer Science notes</a></p>
    <p><a href="https://drive.google.com/file/d/1HUHMkzwmxSPCI-DUEmAbINfSjOQfnJ6j/view">Electronics notes</a></p>
    <p><a href="https://pue.karnataka.gov.in/new-page/I%20PU%20MQP/en">Model question papers</a></p>
    
</section>
{% endblock content %}