{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<section class='text-center container'>
    <h2><b>12th Standard</b></h2>
    <p>Find all your materials here</p>
    <br>
    <br>
    <p><a href="https://ncert.nic.in/textbook.php?leph1=0-8">Physics part 1 notes</a></p>
    <p><a href="https://pue.karnataka.gov.in/storage/pdf-files/20tb.pdf">Physics part 2 notes</a></p>
    <p><a href="https://pue.karnataka.gov.in/storage/pdf-files/7tb.pdf">Chemistry part 1 notes</a></p>
    <p><a href="https://pue.karnataka.gov.in/storage/pdf-files/6tb.pdf">Chemistry part 2 notes</a></p>
    <p><a href="https://ncert.nic.in/textbook.php?lemh1=0-6">Mathematics part 1 notes</a></p>
    <p><a href="https://ncert.nic.in/textbook.php?lemh2=0-7">Mathematics part 2 notes</a></p>
    <p><a href="https://ncert.nic.in/textbook.php?lebo1=0-16">Biology notes</a></p>
    <p><a href="https://drive.google.com/file/d/1Mn-T4Z7ftAnxexospGV3Cjigi2fasYcY/view">Computer Science notes</a></p>
    <p><a href="https://drive.google.com/file/d/1Y6pLrZwekD-1xyJMhAOOAZ2mgdSkYu1M/view">Electronics notes</a></p>
    <p><a href="https://pue.karnataka.gov.in/new-page/II%20PU%20MODEL%20QUESTION%20PAPER%202021-22/en">Model question papers</a></p>
    
</section>
{% endblock content %}